<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="search-bar">
        <div class="container">
            <a href="/"> <img style="display: inline-block; margin-top: -6px" width="70px" src="img/logo.png"/></a>
            <input class="form-control" style="width:70%; margin:15px 0; display: inline-block" type="text" ng-value="searchString" required="true" ng-model="searchString"/>
            <div style="margin-top: 10px; color: white" class="pull-right">
                <a href="/" style="margin-right: 10px"><h4 style="display: inline-block; color: white">Vehicles</h4></a>
                <a href="/street"><h4 style="display: inline-block; color: white">Streets</h4></a>
            </div>
        </div>
    </div>
</header>
</html>