<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/head :: head">
        <script async="async" defer="defer"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj8YghHM7NLpC992YIVAaZWQVheOGTuXo&amp;callback=initMap" type="text/javascript"></script>
    </head>
    <script th:src="@{/js/controller/vehicleController.js}"></script>
    <script th:src="@{/js/services/vehicleService.js}"></script>
    <script th:src="@{/js/services/streetService.js}"></script>
</head>
<body ng-cloak="" ng-app="streetbootModule" ng-controller="VehicleController">

<header th:include="fragments/header :: header"></header>

<div class="container-fluid" id="alert-box" ng-if="nodata">
    {{nodataVeh.message}} {{nodataVeh.description}}
</div>

<div class="container" id="vehicles-data-container">
    <div id="chart-container" class="col-lg-8 col-md-8 col-sm-12">

    </div>
    <div id="vehicles">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="vehicle in vehicles | searchFor:searchString">
                <span>{{ vehicle.Description }}</span>
                <br/>
                <span style="font-weight: bold">{{ vehicle.Name }} </span>| <span style="font-style: italic">{{ vehicle.FuelCardNum }}</span>
                <br/>
                <span class="vehicle-btn" ng-click="getVehicleEvents(vehicle.Name, vehicle.Description, vehicle.FuelCardNum)">Vehicle</span> | <span ng-click="getVehicleGarageEvents(vehicle.Name, vehicle.Description, vehicle.FuelCardNum)" class="garage-btn">Garage</span>
            </li>
        </ul>
    </div>
</div>

<div class="container" id="time-picker">
    <div class="col-lg-6">
        <div class="input-group"
             moment-picker="ctrl.startDatepicker"
             format="YYYY-MM-DD">
    <span class="input-group-addon">
        <i class="octicon octicon-calendar"></i>
    </span>
            <input class="form-control"
                   placeholder="Start date"
                   ng-model="ctrl.startDatepicker"
                   ng-model-options="{ updateOn: 'blur' }"/>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-group"
             moment-picker="ctrl.endDatepicker"
             format="YYYY-MM-DD">
    <span class="input-group-addon">
        <i class="octicon octicon-clock"></i>
    </span>
            <input class="form-control"
                   placeholder="End Date"
                   ng-model="ctrl.endDatepicker"
                   ng-model-options="{ updateOn: 'blur' }"/>
        </div>
    </div>

</div>

<div class="container">
    <div id="map">

    </div>
</div>


</body>
</html>
